.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
  bottom: 103%;
  left: 50%;
  margin-left: -135px;

  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.chatbox {
  position: fixed;
  bottom: 0;
  right: 30px;
  width: 200px;
  height: 400px;
  background-color: #fff;
  font-family: "Lato", sans-serif;

  -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);

  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  flex-direction: column;
}

.chatbox--tray {
  bottom: -350px;
}

.chatbox--closed {
  bottom: -400px;
}

.chatbox .form-control:focus {
  border-color: #1f2836;
}

.chatbox__title,
.chatbox__body {
  border-bottom: none;
}

.chatbox__title h5 {
  height: 50px;
  margin: 0 0 0 15px;
  line-height: 50px;
  position: relative;
  padding-left: 20px;

  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.chatbox__title h5 a {
  color: #fff;
  max-width: 195px;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chatbox__title__tray,
.chatbox__title__close {
  width: 24px;
  height: 24px;
  outline: 0;
  border: none;
  background-color: transparent;
  opacity: 0.5;
  cursor: pointer;

  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

.chatbox__title__tray:hover,
.chatbox__title__close:hover {
  opacity: 1;
}

.chatbox__title__tray span {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-bottom: 2px solid #fff;
}

.chatbox__title__close svg {
  vertical-align: middle;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.2px;
}

.chatbox__body,
.chatbox__credentials {
  padding: 30px;
  border-top: 0;
  background-color: #f5f5f5;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;

  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.chatbox__credentials {
  display: none;
}

.chatbox__credentials .form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.chatbox__body {
  overflow-y: auto;
}

.chatbox__body__message {
  position: relative;
}

.chatbox__body__message p {
  padding: 15px;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
  box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
}

.chatbox__body__message img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #fcfcfc;
  position: absolute;
  top: 15px;
}

.chatbox__body__message--left p {
  margin-left: 15px;
  padding-left: 30px;
  text-align: left;
}

.chatbox__body__message--left img {
  left: -5px;
}

.chatbox__body__message--right p {
  margin-right: 15px;
  padding-right: 30px;
  text-align: right;
}

.chatbox__body__message--right img {
  right: -5px;
}

.chatbox__message {
  padding: 15px;
  min-height: 50px;
  outline: 0;
  resize: none;
  border: none;
  font-size: 12px;
  border: 1px solid #ddd;
  border-bottom: none;
  background-color: #fefefe;
}

.chatbox--empty {
  height: 262px;
}

.chatbox--empty.chatbox--tray {
  bottom: -212px;
}

.chatbox--empty.chatbox--closed {
  bottom: -262px;
}

.chatbox--empty .chatbox__body,
.chatbox--empty .chatbox__message {
  display: none;
}

.chatbox--empty .chatbox__credentials {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  color: #444;
}

.material-icons {
    font-size: 60px !important;
    color: darkblue;
}

#small-button {
    font-size: 24px !important;
    color: black;
}

iframe {
    padding-right: 250px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 100px 50px;
  text-align: center;
}

.container h1 {
  margin-bottom: 20px;
}

.page-description {
  font-size: 1.1rem;
  margin: 0 auto;
}

.tz-link {
  font-size: 1em;
  color: #1da7da;
  text-decoration: none;
}

.no-browser-support {
  display: none;
  font-size: 1.2rem;
  color: #e64427;
  margin-top: 35px;
}

.app {
  margin: 40px auto;
}

.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
}

#note-textarea {
  margin: 20px 0;
}

#recording-instructions {
  margin: 15px auto 60px;
}

#notes {
  padding-top: 20px;
}

.note .header {
  font-size: 0.9em;
  color: #888;
  margin-bottom: 10px;
}

.note .delete-note,
.note .listen-note {
  text-decoration: none;
  margin-left: 15px;
}

.note .content {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .container {
    padding: 50px 25px;
  }

  button {
    margin-bottom: 10px;
  }
}

/* -- Demo ads -- */

@media (max-width: 1200px) {
  #bsaHolder {
    display: none;
  }
}
